USE [master]
GO
/****** Object:  Database [OpmDB]    Script Date: 26/07/2022 3:09:46 CH ******/
CREATE DATABASE [OpmDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpmDB', FILENAME = N'D:\DataSQL\OpmDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpmDB_log', FILENAME = N'D:\DataSQL\OpmDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpmDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpmDB]
GO
/****** Object:  User [Nga]    Script Date: 26/07/2022 3:09:46 CH ******/
CREATE USER [Nga] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractId] [varchar](50) NOT NULL,
	[ContractSignedDate] [datetime] NULL,
	[ContractName] [nvarchar](250) NULL,
	[ContractShoppingPlan] [nvarchar](250) NULL,
	[ContractType] [nvarchar](100) NULL,
	[SiteId] [varchar](50) NULL,
	[ContractValidityDate] [datetime] NULL,
	[ContractDeadline] [datetime] NULL,
	[ContractGoodsDesignation] [nvarchar](250) NULL,
	[ContractGoodsCode] [varchar](20) NULL,
	[ContractGoodsManufacture] [nvarchar](100) NULL,
	[ContractGoodsOrigin] [nvarchar](50) NULL,
	[ContractGoodsDesignation1] [varchar](250) NULL,
	[ContractGoodsCode1] [varchar](20) NULL,
	[ContractGoodsCode2] [varchar](100) NULL,
	[ContractGoodsSpecies] [nvarchar](100) NULL,
	[ContractGoodsNote] [nvarchar](250) NULL,
	[ContractGoodsUnit] [nvarchar](50) NULL,
	[ContractGoodsUnitPrice] [float] NULL,
	[ContractGoodsQuantity] [float] NULL,
	[ContractGoodsLicenseName] [nvarchar](250) NULL,
	[ContractGoodsLicenseUnitPrice] [float] NULL,
	[ContractGuaranteeCreatedDate] [datetime] NULL,
	[POGuaranteeRatio] [int] NULL,
	[POGuaranteeValidityPeriod] [int] NULL,
	[ContractGuaranteeDeadline] [datetime] NULL,
	[AccoutingCode] [varchar](15) NULL,
	[ContractReportOfConpletedVolumeDate] [datetime] NULL,
	[ContractLiquidationRecordsDate] [datetime] NULL,
	[ContractTotalAmountPaid] [float] NULL,
	[ContractConformityCertificateNumber] [varchar](50) NULL,
	check_ContractGuaranteeDeadline int NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryPlan]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryPlan](
	[DeliveryPlanId] [int] IDENTITY(1,1) NOT NULL,
	[POId] [varchar](50) NOT NULL,
	[VNPTId] [varchar](50) NULL,
	[DeliveryPlanQuantity] [float] NULL,
	[DeliveryPlanDate] [datetime] NULL,
 CONSTRAINT [PK__Delivery__02814348E0AF5386] PRIMARY KEY CLUSTERED 
(
	[DeliveryPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[PLId] [varchar](50) NULL,
	[DeviceCaseNumber] [varchar](50) NULL,
	[DeviceSerial] [varchar](50) NULL,
	[DeviceMAC] [varchar](50) NULL,
	[DeviceSerialGpon] [varchar](50) NULL,
	[DeviceBoxNumber] [varchar](50) NULL,
	[DeviceSerialRange] [varchar](1000) NULL,
	[DeviceMacRange] [varchar](1000) NULL,
	[DeviceSerialGPONRange] [varchar](1000) NULL,
	[DeviceNumberOfCase] [int] NULL,
 CONSTRAINT [PK__Device__49E12311F3A72D89] PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DP]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DP](
	[DPId] [varchar](50) NOT NULL,
	[POId] [varchar](50) NOT NULL,
	[DPDate] [datetime] NULL,
	[DPType] [int] NULL,
	[DPQuantity] [int] NULL,
	[DPQuantity1] [int] NULL,
	[DPRequestDate] [datetime] NULL,
	[DPResponseDate] [datetime] NULL,
	[DPRefundDate] [datetime] NULL,
	[DPRemarks] [nvarchar](250) NULL,
	[DPVNPTTechANSVContractNumber] [varchar](50) NULL,
	[DPContractAccoutingCode] [varchar](50) NULL,
 CONSTRAINT [PK__DP__2332F7956F2C9AC1] PRIMARY KEY CLUSTERED 
(
	[DPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NTKT]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTKT](
	[NTKTId] [varchar](50) NOT NULL,
	[POId] [varchar](50) NOT NULL,
	[NTKTCreatedDate] [datetime] NULL,
	[CQDate] [datetime]NULL,
	[ATPDate] [datetime] NULL,
	[EsATPDate] [datetime] NULL,
	[NTKTPhase] [varchar](50) NULL,
	[NTKTQuantity] [float] NULL,
	NTKTExtraQuantity [float] Null,
	[NTKTTestExpectedDate] [datetime] NULL,
	[TechnicalInspectionReportDate] [datetime] NULL,
	[TechnicalAcceptanceReportDate] [datetime] NULL,
	[NTKTLicenseCertificateDate] [datetime] NULL,
 CONSTRAINT [PK__NTKT__3213E83FBED39F0E] PRIMARY KEY CLUSTERED 
(
	[NTKTId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NTKTDetails]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTKTDetails](
	[id] int IDENTITY (1,1) NOT NULL,
	[NTKTId] [varchar](50) NOT NULL,
	[VNPTId] [varchar](50) NULL,
	[NTKTMainline] [float] NULL,
	[NTKTSparegoods] [float] NULL,
	[NTKTEdDate] [datetime] NULL,
 CONSTRAINT [PK__NTKTDeta__3213E83F5CCD3E1D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NTLicense]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTLicense](
	[id] [varchar](10) NOT NULL,
	[id_ntkt] [varchar](10) NOT NULL,
	[vdb_naplicense] [varchar](50) NULL,
	[vb_ntlicense] [varchar](50) NULL,
 CONSTRAINT [PK_NTLicense] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[id_ntkt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackingList]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingList](
	[PackingListCaseNumber] [varchar](50) NOT NULL,
	[PLId] [varchar](50) NULL,
	[PackingListCaseQuantity] [varchar](50) NULL,
	[PackingListProductionBoxNumber] [varchar](50) NULL,
	[PackingListSerialRange] [varchar](1000) NULL,
	[PackingListMacRange] [varchar](1000) NULL,
	[PackingListSerialGPONRange] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[PackingListCaseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PL]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PL](
	[PLId] [varchar](50) NOT NULL,
	[DPId] [varchar](50) NOT NULL,
	[VNPTId] [varchar](50) NOT NULL,
	[PLDate] [datetime] NULL,
	[PLQuantity] [int] NULL,
	[CaseQuantity] [int] NULL,
	[PLDimension] [varchar](50) NULL,
	[PLVolume] [float] NULL,
	[PLNetWeight] [float] NULL,
	[PLGrossWeight] [float] NULL,
	[PLQualityInspectionCertificateInFactoryDate] [datetime] NULL,
	[PLQualityInspectionCertificateDate] [datetime] NULL,
	[PLReportForDeliveryNumber] [varchar](50) NULL,
 CONSTRAINT [PK_PackageList] PRIMARY KEY CLUSTERED 
(
	[PLId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PO]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PO](
	[POId] [varchar](50) NOT NULL,
	[ContractId] [varchar](50) NOT NULL,
	[POName] [varchar](20) NULL,
	[POCreatedDate] [datetime] NULL,
	[POGoodsQuantity] [float] NULL,
	[POConfirmRequestDeadline] [datetime] NULL,
	[PODefaultPerformDate] [datetime] NULL,
	[POPerformDate] [datetime] NULL,
	[PODeadline] [datetime] NULL,
	[POConfirmId] [varchar](50) NULL,
	[POConfirmCreatedDate] [datetime] NULL,
	[POAdvanceId] [varchar](50) NULL,
	[POAdvanceCreatedDate] [datetime] NULL,
	[POAdvancePercentage] [int] NULL,
	[POAdvanceGuaranteeCreatedDate] [datetime] NULL,
	[POAdvanceGuaranteePercentage] [int] NULL,
	[POAdvanceRequestId] [varchar](50) NULL,
	[POAdvanceRequestCreatedDate] [datetime] NULL,
	[POGuaranteeDate] [datetime] NULL,
	[PONumberOfPhase] [int] NULL,
	[POReportOfAcceptanceAndHandlingOfGoodsDate] [datetime] NULL,
	[POOfferToGuaranteePOWarrantyDate] [datetime] NULL,
	[POAdjustmentConfirmationDate] [datetime] NULL,
	[POAdjustmentConfirmationNumber] [varchar](50) NULL,
	[POGoodQuantityAfterAdjustment] [float] NULL,
	[POQualityCertificationDate] [datetime] NULL,
	[POFactoryQualityCertificationDate] [datetime] NULL,
	[POAcceptanceLicenceDate] [datetime] NULL,
	[POInstallLicenseDate] [datetime] NULL,
	[POInvoicingRequestDate] [datetime] NULL,
	[check_POGuaranteeDate] [int] NULL,
	[check_POAdvanceGuaranteeCreatedDate] [int] NULL,
	[check_POOfferToGuaranteePOWarrantyDate] [int] NULL,
	[check_POConfirmRequestDeadline] [int] NULL,
 CONSTRAINT [PK_PO] PRIMARY KEY CLUSTERED 
(
	[POId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Site]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site](
	[SiteId] [varchar](50) NOT NULL,
	[SiteName] [nvarchar](250) NULL,
	[SiteProvince] [nvarchar](250) NULL,
	[SiteType] [nvarchar](50) NULL,
	[SiteHeadquater] [nvarchar](250) NULL,
	[SiteAddress] [nvarchar](250) NULL,
	[SitePhonenumber] [varchar](20) NULL,
	[SiteFaxNumber] [varchar](20) NULL,
	[SiteTaxCode] [varchar](20) NULL,
	[SiteBankAccount] [varchar](20) NULL,
	[SiteNameOfBank] [nvarchar](100) NULL,
	[SiteRepresentative1] [nvarchar](50) NULL,
	[SitePosition1] [nvarchar](50) NULL,
	[SiteProxy1] [nvarchar](50) NULL,
	[SiteRepresentative2] [nvarchar](50) NULL,
	[SitePosition2] [nvarchar](50) NULL,
	[SiteProxy2] [nvarchar](50) NULL,
	[SiteRepresentative3] [nvarchar](50) NULL,
	[SitePosition3] [nvarchar](50) NULL,
	[SiteProxy3] [nvarchar](50) NULL,
 CONSTRAINT [PK__Site__B9DCB963517A9935] PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/07/2022 3:09:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].Users(
	[id] int IDENTITY (1,1) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [float] NULL,
	[UserName] [varchar](50) NOT NULL,
	[PassWord] [varchar](50) NOT NULL,
	[CheckAdmin] [int] NOT NULL,
 CONSTRAINT [PK__Users__3987E83F5CCD3E1D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[DeliveryPlan] ON 

INSERT [dbo].[DeliveryPlan] ([DeliveryPlanId], [POId], [VNPTId], [DeliveryPlanQuantity], [DeliveryPlanDate]) VALUES (2, N'3579/CUVT-KV', N'BDH', 1000, CAST(N'2022-06-16T00:00:00.000' AS DateTime))
INSERT [dbo].[DeliveryPlan] ([DeliveryPlanId], [POId], [VNPTId], [DeliveryPlanQuantity], [DeliveryPlanDate]) VALUES (3, N'3579/CUVT-KV', N'BDH', 500, CAST(N'2022-06-23T00:00:00.000' AS DateTime))
INSERT [dbo].[DeliveryPlan] ([DeliveryPlanId], [POId], [VNPTId], [DeliveryPlanQuantity], [DeliveryPlanDate]) VALUES (4, N'3579/CUVT-KV', N'BKN', 152, CAST(N'2022-06-16T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DeliveryPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[Device] ON 

GO
SET IDENTITY_INSERT [dbo].[Device] OFF
GO
INSERT [dbo].[DP] ([DPId], [POId], [DPDate], [DPType], [DPQuantity], [DPQuantity1], [DPRequestDate], [DPResponseDate], [DPRefundDate], [DPRemarks], [DPVNPTTechANSVContractNumber], [DPContractAccoutingCode]) VALUES (N'1666/2022', N'3579/CUVT-KV', CAST(N'2022-06-15T00:00:00.000' AS DateTime), 0, 10000, 10000, CAST(N'2022-06-16T00:00:00.000' AS DateTime), CAST(N'2022-06-18T00:00:00.000' AS DateTime), CAST(N'2000-01-22T00:00:00.000' AS DateTime), N'abcdef', N'ANSV-VNPT Tech 111', N'C1245689')
INSERT [dbo].[DP] ([DPId], [POId], [DPDate], [DPType], [DPQuantity], [DPQuantity1], [DPRequestDate], [DPResponseDate], [DPRefundDate], [DPRemarks], [DPVNPTTechANSVContractNumber], [DPContractAccoutingCode]) VALUES (N'1980/2022', N'3579/CUVT-KV', CAST(N'2022-06-15T00:00:00.000' AS DateTime), 0, 10000, 0, CAST(N'2022-06-15T00:00:00.000' AS DateTime), CAST(N'2022-06-15T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'', NULL, NULL)
INSERT [dbo].[DP] ([DPId], [POId], [DPDate], [DPType], [DPQuantity], [DPQuantity1], [DPRequestDate], [DPResponseDate], [DPRefundDate], [DPRemarks], [DPVNPTTechANSVContractNumber], [DPContractAccoutingCode]) VALUES (N'1990/2022', N'3579/CUVT-KV', CAST(N'2022-06-15T00:00:00.000' AS DateTime), 0, 13097, 13097, CAST(N'2022-06-15T00:00:00.000' AS DateTime), CAST(N'2022-06-15T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'', NULL, NULL)
GO
INSERT [dbo].[NTKT] ([NTKTId], [POId], [NTKTCreatedDate], [NTKTPhase], [NTKTQuantity], [NTKTTestExpectedDate], [TechnicalInspectionReportDate], [TechnicalAcceptanceReportDate], [NTKTLicenseCertificateDate]) VALUES (N'18796/ANSV-DO', N'3579/CUVT-KV', CAST(N'2022-06-20T00:00:00.000' AS DateTime), N'1', 10000, CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[NTKT] ([NTKTId], [POId], [NTKTCreatedDate], [NTKTPhase], [NTKTQuantity], [NTKTTestExpectedDate], [TechnicalInspectionReportDate], [TechnicalAcceptanceReportDate], [NTKTLicenseCertificateDate]) VALUES (N'18797/ANSV-DO', N'3579/CUVT-KV', CAST(N'2022-06-20T00:00:00.000' AS DateTime), N'2', 10000, CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[NTKT] ([NTKTId], [POId], [NTKTCreatedDate], [NTKTPhase], [NTKTQuantity], [NTKTTestExpectedDate], [TechnicalInspectionReportDate], [TechnicalAcceptanceReportDate], [NTKTLicenseCertificateDate]) VALUES (N'18978/ANSV-DO', N'3579/CUVT-KV', CAST(N'2022-06-20T00:00:00.000' AS DateTime), N'3', 13097, CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[PL] ([PLId], [DPId], [VNPTId], [PLDate], [PLQuantity], [CaseQuantity], [PLDimension], [PLVolume], [PLNetWeight], [PLGrossWeight], [PLQualityInspectionCertificateInFactoryDate], [PLQualityInspectionCertificateDate], [PLReportForDeliveryNumber]) VALUES (N'12345678', N'1666/2022', N'BDH', CAST(N'2022-06-20T00:00:00.000' AS DateTime), 200, 20, N'55x45x31', 0.076, 15, 16, CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime), N'BBBG')
INSERT [dbo].[PL] ([PLId], [DPId], [VNPTId], [PLDate], [PLQuantity], [CaseQuantity], [PLDimension], [PLVolume], [PLNetWeight], [PLGrossWeight], [PLQualityInspectionCertificateInFactoryDate], [PLQualityInspectionCertificateDate], [PLReportForDeliveryNumber]) VALUES (N'1666/2022_AGG', N'1666/2022', N'AGG', CAST(N'2022-06-20T00:00:00.000' AS DateTime), 500, 20, N'55x45x31', 0.076, 15, 16, CAST(N'2022-06-20T00:00:00.000' AS DateTime), CAST(N'2022-06-20T00:00:00.000' AS DateTime), N'BBBG')
INSERT [dbo].[PL] ([PLId], [DPId], [VNPTId], [PLDate], [PLQuantity], [CaseQuantity], [PLDimension], [PLVolume], [PLNetWeight], [PLGrossWeight], [PLQualityInspectionCertificateInFactoryDate], [PLQualityInspectionCertificateDate], [PLReportForDeliveryNumber]) VALUES (N'1666/2022_BNH', N'1666/2022', N'BNH', CAST(N'2022-06-15T00:00:00.000' AS DateTime), 500, 20, N'55x45x31', 0.076, 15, 16, NULL, NULL, NULL)
GO
INSERT [dbo].[Site] ([SiteId], [SiteName], [SiteProvince], [SiteType], [SiteHeadquater], [SiteAddress], [SitePhonenumber], [SiteFaxNumber], [SiteTaxCode], [SiteBankAccount], [SiteNameOfBank], [SiteRepresentative1], [SitePosition1], [SiteProxy1], [SiteRepresentative2], [SitePosition2], [SiteProxy2], [SiteRepresentative3], [SitePosition3], [SiteProxy3]) VALUES (N'AGG', N'Viễn Thông An Giang', N'An Giang', N'Đơn vị sử dụng', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Site] ([SiteId], [SiteName], [SiteProvince], [SiteType], [SiteHeadquater], [SiteAddress], [SitePhonenumber], [SiteFaxNumber], [SiteTaxCode], [SiteBankAccount], [SiteNameOfBank], [SiteRepresentative1], [SitePosition1], [SiteProxy1], [SiteRepresentative2], [SitePosition2], [SiteProxy2], [SiteRepresentative3], [SitePosition3], [SiteProxy3]) VALUES (N'BDG', N'Bình Dương', N'Viễn Thông Bình Dương', N'Đơn vị sử dụng', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[Site] ([SiteId], [SiteName], [SiteProvince], [SiteType], [SiteHeadquater], [SiteAddress], [SitePhonenumber], [SiteFaxNumber], [SiteTaxCode], [SiteBankAccount], [SiteNameOfBank], [SiteRepresentative1], [SitePosition1], [SiteProxy1], [SiteRepresentative2], [SitePosition2], [SiteProxy2], [SiteRepresentative3], [SitePosition3], [SiteProxy3]) VALUES (N'BDH', N'Viễn Thông Bình Định', N'Bình Định', N'Đơn vị sử dụng', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[DP] ADD  CONSTRAINT [DF_DP_DPRequestDate]  DEFAULT (getdate()) FOR [DPRequestDate]
GO
ALTER TABLE [dbo].[DP] ADD  CONSTRAINT [DF_DP_DPResponseDate]  DEFAULT (getdate()) FOR [DPResponseDate]
GO
ALTER TABLE [dbo].[DP] ADD  CONSTRAINT [DF_DP_DPRefundDate]  DEFAULT (getdate()) FOR [DPRefundDate]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Site]
GO
ALTER TABLE [dbo].[DeliveryPlan]  WITH CHECK ADD  CONSTRAINT [FK__DeliveryPl__POId__6FE99F9F] FOREIGN KEY([POId])
REFERENCES [dbo].[PO] ([POId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeliveryPlan] CHECK CONSTRAINT [FK__DeliveryPl__POId__6FE99F9F]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_PL] FOREIGN KEY([PLId])
REFERENCES [dbo].[PL] ([PLId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_PL]
GO
ALTER TABLE [dbo].[DP]  WITH CHECK ADD  CONSTRAINT [FK__DP__POId__40058253] FOREIGN KEY([POId])
REFERENCES [dbo].[PO] ([POId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DP] CHECK CONSTRAINT [FK__DP__POId__40058253]
GO
ALTER TABLE [dbo].[NTKT]  WITH CHECK ADD  CONSTRAINT [FK_NTKT_PO] FOREIGN KEY([POId])
REFERENCES [dbo].[PO] ([POId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NTKT] CHECK CONSTRAINT [FK_NTKT_PO]
GO
ALTER TABLE [dbo].[NTKTDetails]  WITH CHECK ADD  CONSTRAINT [FK_NTKTDetails_NTKT] FOREIGN KEY([NTKTId])
REFERENCES [dbo].[NTKT] ([NTKTId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NTKTDetails] CHECK CONSTRAINT [FK_NTKTDetails_NTKT]
GO
ALTER TABLE [dbo].[PackingList]  WITH CHECK ADD FOREIGN KEY([PLId])
REFERENCES [dbo].[PL] ([PLId])
GO
ALTER TABLE [dbo].[PL]  WITH CHECK ADD  CONSTRAINT [FK_PL_DP] FOREIGN KEY([DPId])
REFERENCES [dbo].[DP] ([DPId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PL] CHECK CONSTRAINT [FK_PL_DP]
GO
ALTER TABLE [dbo].[PO]  WITH CHECK ADD  CONSTRAINT [FK_PO_Contract] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([ContractId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PO] CHECK CONSTRAINT [FK_PO_Contract]
GO
USE [master]
GO
